<!DOCTYPE html>
<html>
<h1>Add a new landmark:</h1>
<br><br>
<form method="post" action="/landmarks">
<br>Landmark Name: <input type="text" id="landmark_name" name="landmark[name]"></input>
<br>Year Completed: <input type="text" id="landmark_year_completed" name="landmark[year_completed]"></input>
<br><br>
<input type="submit" value="Create New Landmark"></input>
</form>
</html>
